@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Quicksand:wght@500&display=swap');

body{
    margin: 0;
}

/* contenedores */

.contenedor{
    display: flex;
    justify-content: center;
    position: relative;
    display: inline-block;
    text-align: center;
}

.contenedor2{
    position: relative;
    display: inline-block;
    text-align:left;
    margin-top: 200px;
}

.contenedor3{
    padding: 10px;
    margin-top: -100px;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* textos */

.textoprincipal{
    display: flex;
    justify-content :center;
    font-size: 90px;
    color: white;
    margin-top: 413px;
    margin-left: -50px;
    margin-right: -50px;
    font-family: 'Luckiest Guy', cursive;
}

.texto {
    text-align: justify center;
    margin: 10px;
    height: 40vh;
    padding: 5px;
    font-family: 'Luckiest Guy', cursive;
font-family: 'Quicksand', sans-serif;
}

 
/* centar */

.centrado{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


/* imagenes */

.Superior{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center -160px;
}

.foto {
    display: flex;
    justify-content: center;
    filter: grayscale(100%);
    max-height: 20em;
    height: 40vh;
    overflow: hidden;
    border-radius: 10px 10px 0 0; 
}


/* cajones */

.cajon-1 {
    position: absolute;
    color: white;
    margin-top: -360px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    text-shadow: 0px 0px 2px;
    background-color: rgb(23, 46, 77);
    font-family: 'Luckiest Guy', cursive;
font-family: 'Quicksand', sans-serif;
}

.cajon-2 {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    max-width: 20em;
    margin: 1em;
    border-radius: 10px;
    box-shadow: 0 6px 16px rgb(82, 81, 81);
    font-size: 15px;
}



.banda {
    background: #012b50;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    font-family: 'Luckiest Guy', cursive;
font-family: 'Quicksand', sans-serif;
}

.nombre {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin: 10px;
    padding-top: 5px;
    font-size: 12px;
    font-family: 'Luckiest Guy', cursive;
font-family: 'Quicksand', sans-serif;
}

footer{
    display: flex;
    justify-content: center;
}