@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

/*--------------------- inicio --------------------*/
body{
    font-family: 'Roboto', sans-serif;
}

nav{
    background-color:rgb(38, 38, 42);
    margin-top: -20px;
    margin-left: -10px;
    width: 1351px;
    height: 125px;
}

h1{
    margin-left:90px;
    font-size: 40px;
    margin-top: 40px;
    color: white;
}
span{
    margin-right: 200px;
    color: rgb(75, 75, 243);
    font-size: 40px; 
}

a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin-right: 90px;
    margin-top: 60px;
}

div{
    display: flex;
    justify-content:space-between;
}

hr{
    width: 1348px;
    height: 3.3px;
    margin-top: -1px;
    margin-left: -8px;
    background-color: rgb(43, 110, 233);
}

/* textos menu */

.texto_color1{
    color: rgb(58, 109, 250);
}

/*  textos */

.texto_final{
    display: flex;
    justify-content: center;
    background-color: rgb(79, 125, 250);
    padding: 30px;
    width: 1289px;
    margin-left: -8px;
    margin-right: px;
    margin-top: 280px;
}

.texto_final1{
    color:white;
}

.texto-inicial{
    font-size: 20px;
    color: black;
    font-family: 'Roboto', sans-serif;
}
.texto-inicial1{
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-left: -80px;
}

.texto-inicial2{
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: -50px;
}

.texto-inicial3{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    margin-left: 20px;
}
.texto-inicial4{
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    margin-left: -90px;
}


/* imagen */

.imagen2{   
    width: 700px;
    margin-top: 20px;
    margin-left: 90px;
}

/* cajones */

.cajon_1{
    background-color: rgb(38, 38, 42);
    color: white;
    padding: 17px;
    width: 1315px;
    margin: 0px;
    margin-top: -9px;
    margin-left: -8px;
    font-size: 23px;
}
.cajon1{
    margin-left: 150px;
}
.boton{
    border: none;
    height: 38px;
    width: 120px;
    margin-top: 16px;
    margin-left: -370px;
    margin-right: 100px;
    background-color: rgb(233, 92, 10);
    color: white;
}
.correo{
    margin-top: 17px;
    height: 30px;
    width: 260px;
}


.cajon2{
    color: white;
    padding: 17px;
    width: 700px;
    margin-left: 70px;
}

.cajon3{
    background-color: rgb(33, 35, 47);
    padding: 17px;
    width: 663px;
    height: 108px;
    margin-left: 90px;
    margin-top: -10px;
}

.cajon4{
    background-color: rgb(33, 35, 47);
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    width: 372px;
    height: 203px;
    margin-left: 866px;
    margin-top: -504px;
}

@media screen and (max-width: 800px) {
    /* tamaños  */
    
    nav{ 
        width: 102.5%;
        height: 170px;
    }

    span {
        margin-right: 111px;
        font-size: 40px;
    }

    a{
        font-size: 17px;
        margin-right: 72px;
        margin-top: 78px;
        margin-left: -22px;
    }

    h1 {
        margin-left: 37px;
        
    }

    hr{
        width: 102.2%;
    }

    .texto_final {
        width: 94.7%;
    }
    
    /* imagenes */

    .foto1{
        width: 102.5%;
        height: 500px;
        margin-left: -10px;  
    }

    .cajon1 {
        margin-left: 22px;

    }

    .cajon_1 {
        color: white;
        padding: 9px;
        width: 100%;
        margin-top: -9px;
    }

    .boton {
        margin-top: 16px;
        margin-left: -325px;
        margin-right: 17px;
    }

    .correo {
        height: 30px;
        width: 227px;
        margin-left: -241px;
    }

    /*-------------------------------------*/

    .cajon2 {
        margin-left: 35px;
    }

    .cajon3 {
        margin-left: 52px;
        margin-top: -10px;
    }

    .imagen2 {
        margin-top: 20px;
        margin-left: 53px;
    }

    .cajon4 {
        padding: 10px;
        width: 683px;
        height: 159px;
        margin-left: 52px;
        margin-top: 22px;
    }

    .texto_final {
        margin-top: 0px;
    }
}


@media screen and (max-width: 576px) {
    /* tamaños  */
    h1 {
        display: flex;
        margin-left: 100px;
        margin-right: -401px;
        margin-top: 55px;
        font-size: 48px;
    }
    span {
        margin-right: 111px;
        font-size: 48px;
    }

    nav {
        width: 103.5%;
        height: 192px;
    }

    hr {
        width: 103%;
    }

    a {
        font-size: 20px;
        margin-right: 131px;
        margin-top: 121px;
        margin-left: -112px;
    }

    .cajon1 {
        margin-left: 22px;
        font-size: 16px;
    }

    .correo {
    height: 21px;
    width: 175px;
    margin-left: -241px;
    margin-top: 11px;
    }

    .boton {
        border: none;
        height: 29px;
        width: 78px;
        margin-top: 10px;
        margin-left: -292px;
        background-color: rgb(233, 92, 10);
        color: white;
        margin-right: 7px;
    }

    .texto_final {
        width: 92.1%;
        margin-top: -14px;
        font-size: 24px;
    }
    /*-------------------------------------*/

    .cajon2 {
        color: white;
        padding: 17px;
        width: 443px;
        font-size: 24px;
        margin-left: 70px;
    }

    .cajon3 {
        padding: 11px;
        width: 462px;
        height: 344px;
        margin-left: 39px;
    }

    .texto-inicial {
        font-size: 38px;
        margin-left: -40px;
    }

    .texto-inicial1 {
    color: black;
    font-family: 'Roboto', sans-serif;
    margin-left: -159px;
    }

    .texto-inicial2 {
        color: white;
        font-family: 'Roboto', sans-serif;
        margin-top: -75px;
        font-size: 24px;
    }

    .imagen2 {
        margin-top: 20px;
        margin-left: 13px;
        width: 541px;
    }

    .cajon4 {
        padding: 10px;
        width: 461px;
        height: 347px;
        margin-left: 40px;
        margin-top: 23px;
    }

    .texto-inicial3 {
        font-size: 27px;
        margin-left: 20px;
    }

    .texto-inicial4 {
        margin-left: -120px;
        font-size: 25px;
    }
}